<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
    <menu id="root-menu" label="OpenBox 3">
        <menu id="1" label="Development">
            <item label="Python"> <action name="Execute">
                <execute>urxvt -e python</execute>
            </action> </item>
        </menu>
        <menu id="2" label="Editors">
            <item label="Nano"> <action name="Execute">
                <execute>urxvt -e nano</execute>
            </action> </item>
            <item label="Vi"> <action name="Execute">
                <execute>urxvt -e vi</execute>
            </action> </item>
            <item label="Vim"> <action name="Execute">
                <execute>urxvt -e vim</execute>
            </action> </item>
        </menu>
        <menu id="19" label="Shells">
            <item label="urxvt"> <action name="Execute">
                <execute>urxvt</execute>
            </action> </item>
        </menu>
        <menu id="37" label="System">
            <menu id="36" label="Settings">
                <item label="Default applications for LXSession"> <action name="Execute">
                    <execute>lxsession-default-apps</execute>
                </action> </item>
                <item label="Desktop Session Settings"> <action name="Execute">
                    <execute>lxsession-edit</execute>
                </action> </item>
            </menu>
            <item label="top"> <action name="Execute">
                <execute>urvxt -e top</execute>
            </action> </item>
        </menu>
        <separator/>
        <menu id="40" label="OpenBox">
            <menu id="client-list-menu"/>
            <item label="Reconfigure"> <action name="Reconfigure"/> </item>
            <separator/>
            <item label="Exit"> <action name="Exit"/> </item>
        </menu>
    </menu>
</openbox_menu>
